<div class="row" style="margin-top:20px">
  <div class="jumbotron">
    <div class='row'>

      <div class="col-md-9" style="text-align: left">
        <h1>FreeXpressions</h1>
        <p>FreeXpressions hands-free breast pumping cord...breast pumping just got a whole lot easier!</p>
        <p>
          <a href="<%= new_order_path %>"><button class='btn btn-primary btn-lg'> Buy now!</button></a>
        </p>
      </div>
      <div class="col-md-3"><%= image_tag 'Picture1.png', size: "179x213" %></div>
  </div>
</div>
