<head>
<meta name="AUTHOR" content="Merilee Brigham, RN, BSN, IBCLC, RLC">
<meta name="KEYWORDS" content="Hands-free pumping, hands-free, breast, breast pumping, breast pump, mothers, babies, baby, lactation, lactating, breastfeeding, nursing mothers, breast pumping cord, lactation aid, breast-feed, breastfeed, breast-feeding, electric breast pump, NW Center, Northwest Center, Freexpressions provides work for people with disabilities through NW Center Assembly and Packaging division, ">
<script type='text/javascript'>
$(document).ready(function(){
  $('#about_link').addClass('active');
})
</script>
</head>

<body>
<div class='container'>
  <h3 class="text-primary">About</h3>
  <table>
    <tr>
      <td style="font-size:1.2em">
        <p>
          My goal in creating Freexpressions was to find a quick, uncomplicated solution for hands-free breast pumping that didn't involve having to change into or out of clothing.
        </p>
        <p>
          As a registered nurse and lactation consultant, I have been assisting new families with breastfeeding for over 25 years. A number of mothers I see are in situations where they need to use a breast pump.  Many find the process restrictive & time-consuming.
        </p>
        <p>
          This is especially true for mothers with premature or sick infants; as well as mothers faced with breastfeeding challenges that necessitate long-term pumping. These breast pumping moms sacrifice meeting their own needs to provide optimal nutrition for their babies.
        </p>
      </td>
      <td style="padding-left: 30px">
        <%= image_tag 'bv01206.jpg', size: "289x213" %>
      </td>
    </tr>
  </table>
  <div style="align: center; font-size: 1.5em; background-color: #9BBAC9; margin-left: auto; margin-right: auto; width: 50%; margin-top: 10px; margin-bottom: 10px; text-align: center; border: 2px solid grey; border-radius: 5px; color: white; padding: 2px">
    "Freexpressions gives mothers back some of their time!"
  </div>
  <table>
    <tr>
      <td style="padding-right: 30px">
        <%= image_tag 'bv01203.jpg', size: "227x256" %>
      </td>
      <td style="font-size:1.2em">
        <p>
        Hands-free breast pumping gives mothers back some of their time.  Though mostly a sedentary activity, breast pumping does not have to restrict access to items a mother might want.  When using a hands-free pumping device like Freexpressions, all that's necessary is situating items within reach.
        </p>
        <p>
          Mothers can use their pumping time to eat, drink, use the computer, call a friend or family member; or any number of activities that are in close proximity.
        </p><br />
        <p class="text-primary"><em>
          Merilee Brigham, RN, BSN, IBCLC, RLC<br />
          Lactation consultant, Perinatal nurse educator</em>
        </p><br />
        <p>
          United States Patent and Trademark Office - Patent #7611399
        </p>
      </td>
    </tr>
  </table>

  <%= render 'jumbo_order' %>

</div>
</body>
