<head>
<meta name="AUTHOR" content="Merilee Brigham, RN, BSN, IBCLC, RLC">
<meta name="KEYWORDS" content="Hands-free pumping, hands-free, breast, breast pumping, breast pump, mothers, babies, baby, lactation, lactating, breastfeeding, nursing mothers, breast pumping cord, lactation aid, breast-feed, breastfeed, breast-feeding, electric breast pump, NW Center, Northwest Center, Freexpressions provides work for people with disabilities through NW Center Assembly and Packaging division, ">
<script type='text/javascript'>
$(document).ready(function(){
  $('#contact_link').addClass('active');
})
</script>
</head>

<body>
<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <%= image_tag 'bv01144.png', size: "227x256" %>
    </div>
    <div class='col-md-8' style="font-size:1.2em">
      <br />
      <h3 class="text-primary">Contact Me:</h3>
      <p>
        For more information, please contact us:<br/>
        <table class='contact-info-table'>
          <tr>
            <td class="text-primary">
              <i class="fa fa-envelope fa-lg"></i>
            </td>
            <td>
              <a href="mailto:freexpressions@msn.com" target="_top">freexpressions@msn.com</a>
            </td>
          </tr>
          <tr>
            <td class="text-primary">
              <i class="fa fa-phone-square fa-lg"></i>
            </td>
            <td>
              (206) 595-0755
            </td>
          </tr>
        </table>
      </p>
    </div>
  </div>

  <%= render 'jumbo_order' %>

  </div>
</div>
</body>
