<head>
<meta name="AUTHOR" content="Merilee Brigham, RN, BSN, IBCLC, RLC">
<meta name="KEYWORDS" content="Hands-free pumping, hands-free, breast, breast pumping, breast pump, mothers, babies, baby, lactation, lactating, breastfeeding, nursing mothers, breast pumping cord, lactation aid, breast-feed, breastfeed, breast-feeding, electric breast pump, NW Center, Northwest Center, Freexpressions provides work for people with disabilities through NW Center Assembly and Packaging division, ">
</head>

<body>
<div class='container'>
  <h1 style="text-align: center"><strong>Freexpressions</strong> hands-free breast pumping cord</h1>
  <div class="row">
    <div class="col-md-7">
      <h3 class="text-primary">Enjoy Freedom of Movement While Pumping Milk for Your Baby!</h3>
      <ul style="font-size: 1.5em; font-weight:200; line-height: 1.5;">
        <li>Simple to use</li>
        <li>Discreet; undressing not required</li>
        <li>Practical, no-frills design</li>
        <li>Quick set-up &amp; removal</li>
        <li>Functions with or without a nursing bra</li>
        <li>Use with a single or double electric pump</li>
        <li>Adapts to fit a variety of nursing bras</li>
        <li>Economical</li>
      </ul>
    </div>
    <div class="col-md-5">
      <%= image_tag 'bv01135.png', size: "400x300" %>
    </div>
  </div>

  <%= render 'jumbo_order' %>

  </div>
</div>
</body>
