
<body>
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Thank you!</strong> Your order was successful.
</div>

</body>
