<head>
<meta name="AUTHOR" content="Merilee Brigham, RN, BSN, IBCLC, RLC">
<meta name="KEYWORDS" content="Hands-free pumping, hands-free, breast, breast pumping, breast pump, mothers, babies, baby, lactation, lactating, breastfeeding, nursing mothers, breast pumping cord, lactation aid, breast-feed, breastfeed, breast-feeding, electric breast pump, NW Center, Northwest Center, Freexpressions provides work for people with disabilities through NW Center Assembly and Packaging division, ">
<script type='text/javascript'>
$(document).ready(function(){
  $('#video_link').addClass('active');
})
</script>
</head>

<body>
<div class='container'>
  <div class='row'>
    <div style="width: 630px; margin-left: auto; margin-right: auto; margin-top: 20px">
      <h3 class="text-primary">Video Demonstration:</h3>

      <iframe width="630" height="472" src="//www.youtube.com/embed/5K9XnZgWgpc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <%= render 'jumbo_order' %>

</div>
</body>
