<head>
<script type='text/javascript'>
$(document).ready(function(){
  $('#video_link').addClass('active');
})
</script>
</head>

<body>
<div class='container'>
  <div class='row'>
    <div style="width: 630px; margin-left: auto; margin-right: auto; margin-top: 20px">
      <h3 class="text-primary">Video Demonstration:</h3>

      <iframe width="630" height="472" src="//www.youtube.com/embed/5K9XnZgWgpc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <%= render 'jumbo_order' %>

</div>
</body>
