
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container" style="font-size: 1.5em">
    <div class="navbar-header">
      <a href="<%= pages_path %>" class="navbar-brand" style='font-size: 1.5em' id='home_link'>Freexpressions</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li id='purchase_link'><a href="<%= new_order_path %>">Purchase</a></li>
        <li id='contact_link'><a href="/contact">Contact</a></li>
        <li id='video_link'><a href="/video">Video</a></li>
        <li id='about_link'><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
